@model planAndTest.Models.PM.usersViewModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPM.cshtml";
}

<h2>Users</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.cmd, new { id = "cmd" })
    @Html.HiddenFor(m => m.singleSelect, new { id = "singleSelect" })
    <div class="container">
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2">
                userId
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.userId, new { @class = "form-control" })
            </div>
            <div class="col-2">
                userCommentsPublic
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.userCommentsPublic, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <button onclick="$('#cmd').val('query');$('form').submit()" class="btn btn-primary">Query</button>
                <button onclick="$('#cmd').val('add');$('form').submit()" class="btn btn-primary">Add</button>
                <button onclick="$('#cmd').val('delete');$('form').submit()" class="btn btn-primary">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        @if (Model != null && Model.users != null && Model.users.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>userId</th>
                            <th>createtime</th>
                            <th>userCommentsPublic</th>
                            <th>lastLoginTime</th>
                            <th>modifytime</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in Model.users)
                        {
                            <tr>
                                <td><input type="checkbox" id="@rec.userId" name="multiSelect" value="@rec.userId" class="form-control-lg" /></td>
                                <td>@rec.userId</td>
                                <td>@rec.createtime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>@rec.userCommentsPublic</td>
                                <td>@(rec.lastLoginTime?.ToString("yyyy/MM/dd HH:mm:ss"))</td>
                                <td>@rec.modifytime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>
                                    <button onclick="$('#cmd').val('update'); $('#singleSelect').val('@rec.userId');$('form').submit()" class="btn btn-primary btn-sm">Update</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
            </div>
        }
    </div>
}
