@using planAndTest.web.Models.SA
@model articleEditViewModel
@{
    ViewData["Title"] = "EditArticle";
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}

<h1>EditArticle</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "eaform" }))
{
    @Html.HiddenFor(m => m.cmd, new { id = "cmd" })
    @*@Html.TextBoxFor(m => m.cmd, new { id = "cmd" })*@
    <input type="hidden" id="error" value="@ViewBag.Error" />
    <input type="hidden" id="message" value="@ViewBag.Message" />
    @*@if (ViewBag.Error != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
        }*@
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h6>Parent Directory</h6>
            </div>
            <div class="col-10">
                <h6>@Model.editingArticle.BelongToArticleDirId</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h6>Subject</h6>
            </div>
            <div class="col-9">
                @Html.TextBoxFor(m => m.editingArticle.ArticleTitle, new { @class = "form-control" })
            </div>
            <div class="col-1">
                <button type="submit" onclick="$('#cmd').val('save'); "
                        class="form-control btn btn-primary">
                    Save
                </button>
                <button type="submit" onclick="$('#cmd').val('delete'); "
                        class="form-control btn btn-primary">
                    Delete
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h6>Content</h6>
            </div>
            <div class="col-1">
                @Html.RadioButtonFor(m => m.isDir, "1", new { @checked = true, @class = "form-control" })
            </div>
            <div class="col-2">
                Is a Directory(@Model.isDir)
            </div>
            <div class="col-1">
                @Html.RadioButtonFor(m => m.isDir, "0", new { @checked = true, @class = "form-control" })
            </div>
            <div class="col-2">
                Is an Article
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.TextAreaFor(m => m.editingArticle.ArticleHtmlContent, new { @class = "form-control", @rows = "10", id = "ArticleHtmlContent" })
            </div>
        </div>
    </div>
    <input type="hidden" id="confirmDelete" value="@ViewBag.confirmDelete" />
}
@Html.Partial("confirmDeleteView")
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('ArticleHtmlContent');
    CKEDITOR.config.height = 400;
    var herror = $('#error').val();
    var hmessage = $('#message').val();
    if (typeof (herror) !== 'undefined' && herror.length > 0)
        $.notify({ message: herror }, { type: 'danger' });
    if (typeof (hmessage) !== 'undefined' && hmessage.length > 0)
        $.notify({ message: hmessage }, { type: 'success' });

</script>

<script>
    var confirmDelete = $('#confirmDelete').val();
    console.log('confirmDelete');
    console.log(confirmDelete);
    if (typeof (confirmDelete) !== 'undefined' && confirmDelete == '1') {
        $('#delete-file-modal').modal('show');
        $('#delete-file-modal .modal-footer button').on('click', function (event) {
            var $button = $(event.target);

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button[0].id == 'confirm-delete-button') {
                    $('#cmd').val('realDelete');
                    var cmd = $('#cmd').val();
                    if (typeof (cmd) === 'undefined' || cmd.length <= 0)
                        console.log('cmd null');
                    else
                        console.log(cmd);
                    //$('form').submit();
                    console.log('delete clicked');
                    console.log($('#eaform'));
                    $('#eaform').submit();
                }
                else {
                    console.log('cancel clicked');
                }
            });
        });
    }
</script>
