@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">planAndTest.web</a>*@
@Html.ActionLink("planAndTest.web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-area="" asp-controller="SD"
            asp-action="Action1">Action1</a>*@
            @Html.ActionLink("System Design", "Index", "SD", new { area = "SASDPM" }, new { @class = "nav-link text-dark" })
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Systems
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @*<a class="dropdown-item" asp-area="" asp-controller="Job" asp-action="Index">Jobs</a>
                <a class="dropdown-item" asp-area="" asp-controller="Job" asp-action="JobProgress">Job Progress</a>
                <a class="dropdown-item" asp-area="" asp-controller="Hangfire">Hangfire</a>*@
                @Html.ActionLink("Systems", "Systems", "SD", new { area = "SASDPM" }, new { @class = "dropdown-item" })
                @Html.ActionLink("System Groups", "Index", "SystemGroup", new { area = "SASDPM" }, new { @class = "dropdown-item" })
                @Html.ActionLink("System Entities", "Index", "SystemEntity", new { area = "SASDPM" }, new { @class = "dropdown-item" })
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStateMachine" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                StateMachine
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownStateMachine">
                @*<a class="dropdown-item" asp-area="" asp-controller="Job" asp-action="Index">Jobs</a>
                <a class="dropdown-item" asp-area="" asp-controller="Job" asp-action="JobProgress">Job Progress</a>
                <a class="dropdown-item" asp-area="" asp-controller="Hangfire">Hangfire</a>*@
                @Html.ActionLink("State Machines", "Index", "StateMachine", new { area = "SASDPM" }, new { @class = "dropdown-item" })
            </div>
        </li>

        <li class="nav-item" style="display:none">
            @*<a class="nav-link text-dark" asp-area="" asp-controller="SD"
            asp-action="Action1">Action1</a>*@
            @Html.ActionLink("Systems", "Systems", "SD", new { area = "SASDPM" }, new { @class = "nav-link text-dark" })
        </li>
        <li class="nav-item" style="display:none">
            @*<a class="nav-link text-dark" asp-area="" asp-controller="SD"
            asp-action="Action1">Action1</a>*@
            @Html.ActionLink("System Groups", "Index", "SystemGroup", new { area = "SASDPM" }, new { @class = "nav-link text-dark" })
        </li>
    </ul>
</div>
