@using modelsfwk
@model models.fwk.SD.systemEntityViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSD.cshtml";
}

<h2>System Entity</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "seform" }))
{
    @Html.HiddenFor(m => m.cmd, new { id = "cmd" })
    @Html.HiddenFor(m => m.singleSelect, new { id = "singleSelect" })
    if (!string.IsNullOrWhiteSpace(Model.errorMsg))
    {
        <div class="alert alert-danger" role="alert">
            @Model.errorMsg
        </div>
    }
    if (!string.IsNullOrWhiteSpace(Model.successMsg))
    {
        <div class="alert alert-success" role="alert">
            @Model.successMsg
        </div>
    }

<div class="container">
    @if (ViewBag.pageStatus <= (int)PAGE_STATUS.QUERY)
    {
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2">
                entity name
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.entityName, new { @class = "form-control" })
            </div>
            <div class="col-2">
                entity description
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.entityDescription, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2">
                system template name
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.templateName, new { @class = "form-control" })
            </div>
            <div class="col-2">
                parent entity name
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.parentEntityName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2">
                system name
            </div>
            <div class="col-10">
                @if (ViewBag.systemLock)
                {
                    @Html.DropDownListFor(m => m.editModel.systemId, (SelectList)ViewBag.systemList, "", new { @class = "custom-select disabled", @readonly = "readonly", disabled = "true" })
                    @Html.HiddenFor(m => m.editModel.systemId)
                }
                else
                {
                    @Html.DropDownListFor(m => m.editModel.systemId, (SelectList)ViewBag.systemList, "", new { @class = "custom-select" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <button onclick="$('#cmd').val('query');$('form').submit()" class="btn btn-primary">Query</button>
                <button onclick="$('#cmd').val('add');$('form').submit()" class="btn btn-primary">Add</button>
                <button onclick="$('#cmd').val('delete');$('form').submit()" class="btn btn-primary">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        if (Model != null && Model.queryResult != null && Model.queryResult.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>entity name</th>
                            <th>create time</th>
                            <th>entity description</th>
                            <th>template name</th>
                            <th>parent entity name</th>
                            <th>system name</th>
                            <th></th>
                        </tr>
                        @foreach (var rec in Model.queryResult)
                        {
                            <tr>
                                <td><input type="checkbox" id="@rec.systemEntityId" name="multiSelect" value="@rec.systemEntityId" class="form-control-lg" /></td>
                                <td>@rec.entityName</td>
                                <td>@rec.createtime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>@rec.entityDescription</td>
                                <td>@rec.templateName</td>
                                <td>@rec.parentEntityName</td>
                                <td>@rec.systemName</td>
                                <td>
                                    <button onclick="$('#cmd').val('update'); $('#singleSelect').val('@rec.systemEntityId');$('form').submit()" class="btn btn-primary btn-sm">Update</button>
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        }
    }
    else
    {
        @Html.HiddenFor(m => m.editModel.createtime)
        <div class="row">
            <div class="col-2">
                systemEntityId
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.systemEntityId, new { @class = "form-control disabled", @readonly = "readonly" })
                @Html.HiddenFor(m => m.editModel.systemEntityId)
            </div>
            <div class="col-2">
                entityName
            </div>
            <div class="col-4">
                @if (ViewBag.pageStatus != (int)modelsfwk.PAGE_STATUS.ADD)
                {
                    @Html.TextBoxFor(m => m.editModel.entityName, new { @class = "form-control disabled", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.editModel.entityName)
                }
                else
                {
                    @Html.TextBoxFor(m => m.editModel.entityName, new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                entityDescription
            </div>
            <div class="col-4">
                @if (ViewBag.pageStatus <= (int)modelsfwk.PAGE_STATUS.SAVED)
                {
                    @Html.TextBoxFor(m => m.editModel.entityDescription, new { @class = "form-control disabled", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.editModel.entityDescription)
                }
                else
                {
                    @Html.TextBoxFor(m => m.editModel.entityDescription, new { @class = "form-control" })
                }
            </div>
            <div class="col-2">
                systemTemplateId
            </div>
            <div class="col-4">
                @if (ViewBag.pageStatus <= (int)modelsfwk.PAGE_STATUS.SAVED)
                {
                    @Html.DropDownListFor(m => m.editModel.systemTemplateId, (SelectList)ViewBag.systemTemplateList, "", new { @class = "custom-select disabled", disabled = "true", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.editModel.systemTemplateId)
                }
                else
                {
                    @Html.DropDownListFor(m => m.editModel.systemTemplateId, (SelectList)ViewBag.systemTemplateList, "", new { @class = "custom-select" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                parentEntityId
            </div>
            <div class="col-4">
                    @Html.DropDownListFor(m => m.editModel.parentEntityId, (SelectList)ViewBag.systemEntityList, "", new { @class = "custom-select disabled", disabled = "true", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.editModel.parentEntityId)
            </div>
            <div class="col-2">
                systemId
            </div>
            <div class="col-4">
                    @Html.DropDownListFor(m => m.editModel.systemId, (SelectList)ViewBag.systemList, "", new { @class = "custom-select disabled", disabled = "true", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.editModel.systemId)
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                @if (ViewBag.pageStatus > (int)modelsfwk.PAGE_STATUS.SAVED)
                {
                    <button class="btn btn-primary" onclick="$('#cmd').val('save');$('form').submit()">Save</button>
                }
                @if (ViewBag.pageStatus == (int)modelsfwk.PAGE_STATUS.ADDSAVED)
                {
                    <button class="btn btn-primary" onclick="$('#cmd').val('addNew');$('form').submit()">Add Next</button>
                }
                <button class="btn btn-primary" onclick="$('#cmd').val('query');$('form').submit()">Query</button>
            </div>
        </div>
        <input type="hidden" id="errorMsg" name="errorMsg" value="@Model.errorMsg" />
        <input type="hidden" id="successMsg" name="successMsg" value="@Model.successMsg" />
    }
</div>
}

<script>
    var herror = $('#errorMsg').val();
    var hmessage = $('#successMsg').val();
    if (typeof (herror) !== 'undefined' && herror.length > 0)
        $.notify({ message: herror }, { type: 'danger' });
    if (typeof (hmessage) !== 'undefined' && hmessage.length > 0)
        $.notify({ message: hmessage }, { type: 'success' });
</script>
