@using modelsfwk
@model models.fwk.SD.systemGroupViewModel

@{
    Layout = "~/Views/Shared/_LayoutSD.cshtml";
}

<h2>System Group</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.cmd, new { id = "cmd" })
    @Html.HiddenFor(m => m.pageStatus)
    @Html.HiddenFor(m => m.singleSelect, new { id = "singleSelect" })
    if (!string.IsNullOrWhiteSpace(Model.errorMsg))
    {
        <div class="alert alert-danger" role="alert">
            @Model.errorMsg
        </div>
    }
    if (!string.IsNullOrWhiteSpace(Model.successMsg))
    {
        <div class="alert alert-success" role="alert">
            @Model.successMsg
        </div>
    }
<div class="container">
    @if (Model.pageStatus <= PAGE_STATUS.QUERY)
    {
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2">
                projectName
            </div>
            <div class="col-4">
                @Html.DropDownListFor(m => m.editModel.projectId, (SelectList)ViewBag.projectList, "", new { @class = "custom-select" })
            </div>
            <div class="col-2">
                systemGroupName
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.systemGroupName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <button onclick="$('#cmd').val('query');$('form').submit()" class="btn btn-primary">Query</button>
                <button onclick="$('#cmd').val('add');$('form').submit()" class="btn btn-primary">Add</button>
                <button onclick="$('#cmd').val('delete');$('form').submit()" class="btn btn-primary">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">&nbsp; </div>
        </div>
        if (Model != null && Model.queryResult != null && Model.queryResult.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>system group name</th>
                            <th>create time</th>
                            <th>system group description</th>
                            <th>project name</th>
                            <th></th>
                        </tr>
                        @foreach (var rec in Model.queryResult)
                        {
                            <tr>
                                <td><input type="checkbox" id="@rec.systemGroupId" name="multiSelect" value="@rec.systemGroupId" class="form-control-lg" /></td>
                                <td>@rec.systemGroupName</td>
                                <td>@rec.createtime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>@rec.systemGroupDescription</td>
                                <td>@rec.projectName</td>
                                <td>
                                    <button onclick="$('#cmd').val('update'); $('#singleSelect').val('@rec.systemGroupId');$('form').submit()" class="btn btn-primary btn-sm">Update</button>
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-2">
                systemGroupId
            </div>
            <div class="col-4">
                @Html.TextBoxFor(m => m.editModel.systemGroupId, new { @class = "form-control disabled", @readonly = "readonly" })
            </div>
            <div class="col-2">
                projectId
            </div>
            <div class="col-4">
                @Html.DropDownListFor(m => m.editModel.projectId, (SelectList)ViewBag.projectList, "", new { @class = "custom-select" })
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                systemGroupName
            </div>
            <div class="col-4">
                @if (Model.pageStatus <= modelsfwk.PAGE_STATUS.SAVED)
                {
                    @Html.TextBoxFor(m => m.editModel.systemGroupName, new { @class = "form-control disabled", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.editModel.systemGroupName, new { @class = "form-control" })
                }
            </div>
            <div class="col-2">
                systemGroupDescription
            </div>
            <div class="col-4">
                @if (Model.pageStatus <= modelsfwk.PAGE_STATUS.SAVED)
                {
                    @Html.TextBoxFor(m => m.editModel.systemGroupDescription, new { @class = "form-control disabled", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.editModel.systemGroupDescription, new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                @if (Model.pageStatus > modelsfwk.PAGE_STATUS.SAVED)
                {
                    <button class="btn btn-primary" onclick="$('#cmd').val('save');$('form').submit()">Save</button>
                }
                @if (Model.pageStatus == modelsfwk.PAGE_STATUS.ADDSAVED)
                {
                    <button class="btn btn-primary" onclick="$('#cmd').val('addNew');$('form').submit()">Add Next</button>
                }
                <button class="btn btn-primary" onclick="$('#cmd').val('query');$('form').submit()">Query</button>
            </div>
        </div>
        <input type="hidden" id="errorMsg" name="errorMsg" value="@Model.errorMsg" />
        <input type="hidden" id="successMsg" name="successMsg" value="@Model.successMsg" />
    }
</div>
    }

<script>
    var herror = $('#errorMsg').val();
    var hmessage = $('#successMsg').val();
    if (typeof (herror) !== 'undefined' && herror.length > 0)
        $.notify({ message: herror }, { type: 'danger' });
    if (typeof (hmessage) !== 'undefined' && hmessage.length > 0)
        $.notify({ message: hmessage }, { type: 'success' });
</script>
